<ion-header>
    <ion-toolbar mode="ios" color="plogger">
        <ion-title>Eventos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-segment (ionChange)="segmentChanged($event)" color="spot">
        <ion-segment-button value="eventos">
            <ion-icon mode="md" name="globe"></ion-icon>
            <ion-label>Eventos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="miseventos">
            <ion-icon name="ribbon"></ion-icon>
            <ion-label>Mis eventos</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-button expand="full" fill="outline" mode="ios" color="spot" (click)="newEvent()">Crear evento</ion-button>
    <img *ngIf="imagen" src="../../../assets/img/eventos.jpeg">
    <app-evento #evento> </app-evento>
</ion-content>