<ion-header>
    <ion-toolbar mode="ios" color="petroleo">
        <ion-title>Eventos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-auto-complete [template]="name" [showResultsFirst]="false" [(model)]="selected" (itemSelected)="itemSelected($event)" [multi]="false" [dataProvider]="searchService" [disabled]="false" [removeButtonColor]="'dark'" [options]="{ placeholder : ' ', debounce : '1000' }">

    </ion-auto-complete>


    <ion-segment mode="md" (ionChange)="segmentChanged($event)" color="gris1">
        <ion-segment-button value="eventos">
            <ion-icon mode="md" name="globe"></ion-icon>
            <ion-label>Eventos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="miseventos">
            <ion-icon name="ribbon"></ion-icon>
            <ion-label>Mis eventos</ion-label>
        </ion-segment-button>
    </ion-segment>



    <ion-button expand="full" fill="outline" mode="ios" color="gris1" (click)="newEvent()">Crear evento</ion-button>

    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add" (click)="newEvent()"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->


    <img *ngIf="imagen" src="../../../assets/img/eventos.jpeg">



    <app-evento #evento> </app-evento>



    <ng-template #name let-attrs="attrs">
        <ion-item>
            <ion-avatar slot="start">
                <img *ngIf="attrs.data.foto" [src]="attrs.data.foto">
            </ion-avatar>
            <ion-text>
                {{attrs.data.name }}
            </ion-text>
        </ion-item>
    </ng-template>

</ion-content>