<ion-header>
    <ion-toolbar mode="ios" color="petroleo">
        <ion-title>Eventos</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-auto-complete [template]="name" [showResultsFirst]="false" [(model)]="selected" (itemSelected)="itemSelected($event)" [multi]="false" [dataProvider]="searchService" [disabled]="false" [removeButtonColor]="'dark'" [options]="{ placeholder : ' ', debounce : '1000' }">

    </ion-auto-complete>


    <ion-segment mode="md" (ionChange)="segmentChanged($event)" color="gris1">
        <title>Eventos</title>
        <ion-segment-button value="eventos">
            <ion-icon mode="md" name="globe"></ion-icon>
            <ion-label>En proceso</ion-label>
        </ion-segment-button>
        <ion-segment-button value="miseventos">
            <ion-icon name="ribbon"></ion-icon>
            <ion-label>Mis eventos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="eventosfinalizados">
            <ion-icon name="filing"></ion-icon>
            <ion-label>Finalizados</ion-label>
        </ion-segment-button>

    </ion-segment>


    <!-- Esta para que quede un espacio -->
    <h1> </h1>

    <!-- Etiquetas -->
    <ion-chip *ngFor="let tipo of tiposEventos" color="{{tipo.color}}" (click)="goToEventType(tipo.id, tipo)">

        <ion-label color="{{tipo.color}}">
            <ion-icon slot="start" name="{{tipo.icono}}"></ion-icon>
            {{ tipo.label }}
        </ion-label>
    </ion-chip>

    <br>
    <br>
    <div style="text-align: right;">
        <ion-button color="success" fill="outline" (click)="showFilters()">Filtros</ion-button>
    </div>


    <br><br>

    <div *ngIf="filters">
        <ion-list>
            <ion-item>
                <ion-label>Fecha desde:</ion-label>
                <ion-datetime name="filterFechaDesde" [(ngModel)]="filterFechaDesde" display-format="DD.MM.YYYY"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fecha hasta:</ion-label>
                <ion-datetime name="filterFechaHasta" [(ngModel)]="filterFechaHasta" display-format="DD.MM.YYYY"></ion-datetime>
            </ion-item>
            <br>
            <!-- <ion-item>
                <ion-label>Cuidad:</ion-label>
                <ion-input name="filterCiudad" [(ngModel)]="filterCiudad"></ion-input>
            </ion-item> -->
            <combo-ubicacion></combo-ubicacion>
        </ion-list>

        <ion-button color="spot" (click)="filter()" expand="full" fill="outline">Filtrar</ion-button>
    </div>

    <app-evento #evento> </app-evento>


    <!-- <img *ngIf="imagen" src="../../../assets/img/eventos.jpeg"> -->

    <!-- <ion-button expand="full" fill="outline" mode="ios" color="gris1" (click)="newEvent()">Crear evento</ion-button> -->

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="gris1">
            <ion-icon name="add" (click)="newEvent()"></ion-icon>
        </ion-fab-button>
    </ion-fab>


    <ng-template #name let-attrs="attrs">
        <ion-item>
            <ion-avatar slot="start">
                <img *ngIf="attrs.data.foto" [src]="attrs.data.foto">
            </ion-avatar>
            <ion-text>
                {{attrs.data.name }}
            </ion-text>
        </ion-item>
    </ng-template>

    <div *ngIf="hayeventos" style="text-align: center;">
        <ion-img src="../../assets/img/logo.png" class="logo mb-20" style="margin: 0 80px;"></ion-img>
    </div>
</ion-content>