<ion-header>
    <ion-toolbar color="plogger">
        <ion-title>Conversación</ion-title>
        <ion-buttons>
            <ion-button slot="start">
                <ion-back-button></ion-back-button>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>
<ion-content padding>

    <div class="app-mensajes chat-window" id="app-mensajes">

        <div *ngFor="let chat of chatService.chats" [ngClass]="{ 'textoChat': usuario.key == chat.uidUsuarioLogueado  }">

            <ion-label color="primary" [ngClass]="{ 'textoChatUsuarioLog': usuario.key == chat.uidUsuarioLogueado,
              'textoChatOtroUsuario': usuario.key != chat.uidUsuarioDestinatareo }">
                {{ chat.nombre }}</ion-label>
            <p>
                {{ chat.mensaje }}
            </p>
        </div>

    </div>



</ion-content>
<div class="textoInput">
    <input class="label-mje" type="text" name="mensaje" [(ngModel)]="mensaje" class="form-control" (keyup.enter)="enviarMensaje()" placeholder="Enviar mensaje">
</div>