<ion-header>
    <ion-toolbar color="plogger">
        <ion-title>Direct</ion-title>
        <ion-buttons>
            <ion-button slot="start">
                <ion-back-button></ion-back-button>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="goToUserChat()">
                <ion-icon mode="ios" name="create" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<!-- <div class="container">
    <ng-container *ngIf="loading; else mainTemplate">
        <ion-progress-bar type="indeterminate" color="plogger"></ion-progress-bar>
    </ng-container>
</div> -->




<br>
<ion-content>

    <!-- <ng-template #mainTemplate> -->
    <ion-item-group *ngFor="let us of usuariosChat; let i = index">
        <ion-item-sliding>
            <ion-item (click)="goToChat(us,i)">
                <ion-avatar slot="end">
                    <img [src]="us.foto">
                </ion-avatar>
                <ion-label> {{ us.nombre }} {{ us.apellido }}</ion-label>
                <br>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="danger" expandable (click)="borrarConversacion(us.key)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-item-group>

    <div *ngIf="tieneMensajes" class="sinMensaje">
        <tr>No hay mensajes en su bandeja de entrada </tr>
        <tr class="msjChat" (click)="goToUserChat()">Inicia un nuevo chat</tr>
    </div>
    <!-- </ng-template> -->

</ion-content>