.sinMensaje {
    margin-top: 300px;
    margin-left: 15px;
    font-size: 18px;
    justify-content: center;
    align-content: center;
}

.msjChat {
    font-size: 15px;
    color: rgb(56, 56, 219);
    text-align: center;
}