ion-card-title {
    font-size: 30px;
}

ion-card-content {
    background-color: white;
    font-size: 15px
}

.evento {
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.mapEvent {
    position: relative;
    height: 50%;
}

.imagen {
    height: 200px;
    width: 500px;
    align-self: center;
}

.image-container {
    height: 200px;
    width: 500px;
}

.b-size {
    font-size: 20px;
    color: black;
}

.label-button {
    font-size: 15px;
}

.cant-personas {
    font-size: 12;
}