<ion-header>
    <ion-toolbar color="petroleo">
        <ion-title>Evento</ion-title>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end" *ngIf="miEvento">
            <ion-button (click)="mostrarPop($event)">
                <ion-icon name="settings" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="imagen" *ngIf="foto" [src]="foto"></ion-img>
    <ion-card mode="ios" class="evento">
        <ion-card-header>
            <ion-card-subtitle>
                {{inicio | date: 'dd/MM/yyyy HH:mm'}}
            </ion-card-subtitle>

            <ion-card-title>{{ name }}</ion-card-title>

            <ion-card-subtitle>{{ location }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <ion-button expand="full" color="petroleo">
                <ion-icon name="checkmark-circle"></ion-icon> Asistiré</ion-button>
            <ion-toolbar>
                <ion-buttons>

                    <ion-button>
                        <ion-icon size="large" name="star" color="warning"></ion-icon> Me interesa</ion-button>
                    <ion-button (click)="shareEvent()">
                        <ion-icon size="large" name="share-alt" color="medium"></ion-icon> Compartir</ion-button>

                </ion-buttons>
            </ion-toolbar>
            <br>
            <ion-card-subtitle> <b class="b-size">Recorrido </b> </ion-card-subtitle>
            <ion-card-subtitle *ngIf="recorridoDesde"> {{ recorridoDesde}} </ion-card-subtitle>
            <ion-card-subtitle *ngIf="recorridoHasta"> {{ recorridoHasta}} </ion-card-subtitle>
            <br>

            <ion-chip *ngFor="let desc of typeDescripcion" color="{{desc.color}}">
                <ion-label color="{{desc.color}}">
                    <ion-icon name="{{desc.icono}}"></ion-icon>
                    {{ desc.label}}</ion-label>
            </ion-chip>

            <br>
            <ion-card-subtitle> <b class="b-size">Descripción</b> </ion-card-subtitle>

            {{ description }}

        </ion-card-content>
    </ion-card>
    <!-- Mapa Google -->
    <div #mapElement class="mapEvent evento"></div>

    <app-publicacion-evento [eid]="eid"></app-publicacion-evento>
</ion-content>