<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index: 999999;">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>


<ion-item class="itemPublicar">
    <ion-button (click)="subirFoto()" color="dark">
        <ion-icon name="images"></ion-icon>
    </ion-button>
    <ion-button (click)="sacarFoto()" color="dark">
        <ion-icon name="camera"></ion-icon>
    </ion-button>
    <ion-textarea class="margin" placeholder="Publicar" [(ngModel)]="publicacion.texto"></ion-textarea>
    <ion-button (click)="publicar()" color="plogger">
        <ion-icon name="checkmark-circle" color="dark"></ion-icon>
    </ion-button>
</ion-item>
<ion-list *ngIf="hayFoto">
    <ion-item>
        <img src="{{imageResponse}}" />
    </ion-item>
</ion-list>



<ion-card *ngFor="let item of publicaciones; let i = index;" class="publicaciones animated fadeIn">
    <ion-item mode="ios" color="spot">
        <ion-avatar class="item-avatar">
            <img *ngIf="item.fotoPerfil" [src]="item.fotoPerfil" />
        </ion-avatar>
        <ion-card-header color="spot">

            <ion-card-title>{{item.nombre}} {{item.apellido}}</ion-card-title>
        </ion-card-header>
        <ion-icon *ngIf="item.uid===uid" slot="end" name="more" color="dark" (click)="mostrarPop($event,i,item)"></ion-icon>
    </ion-item>
    <img *ngIf="item.foto" [src]="item.foto" />
    <ion-card-content *ngIf="item.texto">
        {{item.texto}}
    </ion-card-content>

    <ion-item color="spot">

        <ion-button slot="start" (click)="meGusta()" color="light">
            <ion-icon name="heart" color="danger"></ion-icon>
        </ion-button>
        <ion-button [attr.id]="i.toString()" (click)="comentar(i)" color="light">
            <ion-icon name="chatbubbles" color="dark"></ion-icon>
        </ion-button>
        <ion-button (click)="compartir()" slot="end" color="light">
            <ion-icon name="share" color="dark"></ion-icon>
        </ion-button>
    </ion-item>
    <ion-item [attr.class]="'comentariosItem i'+i.toString()">
        <ion-input type="text" placeholder="Comentar"></ion-input>
        <ion-button (click)="confirmarComentario()" color="spot">
            <ion-icon name="checkmark-circle" color="dark"></ion-icon>
        </ion-button>
    </ion-item>
</ion-card>