<ion-card>
    <ion-item mode="ios" color="plogger">
        <ion-card-header color="plogger">
            <ion-card-title>Ricky Vadala</ion-card-title>
        </ion-card-header>
        <ion-icon slot="end" name="more" color="dark" (click)="mostrarPop()"></ion-icon>
    </ion-item>
    <img src="../../../assets/shapes.svg" />
    <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
</ion-card>