<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="end">
            <ion-button (click)="volver()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Cuenta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="plogger">
    <h4 class="mb-20">Editar datos</h4>
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate( formulario )">
        <ion-list class="mb-20" color="plogger">
            <ion-item>
                <ion-label position="floating">Nombre</ion-label>
                <ion-input name="nombre" [(ngModel)]="usuario.nombre" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Apellido</ion-label>
                <ion-input name="apellido" [(ngModel)]="usuario.apellido" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-datetime name="fecha" [(ngModel)]="usuario.fechaNac" (ionChange)="cambioFecha($event)" display-format="DD MM YYYY" placeholder="Nacimiento" cancelText="Cancelar" doneText="Ok" required>
                    Fecha de Nacimiento
                </ion-datetime>
            </ion-item>
            <ion-list>
                <ion-radio-group name="sexo" [(ngModel)]="usuario.sexo">
                    <ion-list-header>
                        <ion-label>Sexo</ion-label>
                    </ion-list-header>

                    <ion-item>
                        <ion-label>Masculino</ion-label>
                        <ion-radio slot="start" value="m" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Femenino</ion-label>
                        <ion-radio slot="start" value="f"></ion-radio>
                    </ion-item>

                    <ion-item>
                        <ion-label>Planta</ion-label>
                        <ion-radio slot="start" value="p"></ion-radio>
                    </ion-item>
                </ion-radio-group>

            </ion-list>

        </ion-list>
        <ion-button color="dark" expand="full" type="submit" [disabled]="formulario.invalid">
            <ion-icon slot="start" name="create"></ion-icon>Guardar
        </ion-button>
        <br>
        <ion-label (click)="cambiarContrasena()">¿Quieres cambiar tu contraseña?</ion-label>
    </form>
</ion-content>