.item-avatar {
    width: 100% !important;
    height: 100% !important;
    max-width: 50px !important; //any size
    max-height: 50px !important; //any size 
}

.center {
    vertical-align: 100%;
    align-content: center;
}