<ion-header>
    <ion-toolbar mode="ios">
        <ion-title>Richi Gang</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="mostrarPop($event)">
                <ion-icon name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>


    <ion-card style="background: palegoldenrod" *ngIf="us.usuario.uid">
        <img [src]="us.usuario.foto" class="card-img-top" alt="...">
        <ion-card-header>
            <ion-card-subtitle>Usuario Logueado</ion-card-subtitle>
            <ion-card-title>{{ us.usuario.nombre }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            Email: {{ us.usuario.email }}
        </ion-card-content>
    </ion-card>

</ion-content>