<ion-header>
    <ion-toolbar mode="ios" color="plogger">
        <ion-title>{{ nombre }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="mostrarPop($event)">
                <ion-icon name="settings" color="dark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content padding>


    <ion-grid fixed class="center">
        <ion-row>
            <ion-col size="3">
                <ion-avatar class="item-avatar">
                    <img *ngIf="foto" src={{foto}} />
                </ion-avatar>
            </ion-col>
            <ion-col size="3" class="profileStats">
                <ion-row>
                    <ion-col size="12">
                        <ion-label>{{cantPosts}}</ion-label>
                    </ion-col>
                    <ion-col size="12" class="subtitle">
                        <ion-label>Posts</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" class="profileStats">
                <ion-row>
                    <ion-col size="12">
                        <ion-label>1532</ion-label>
                    </ion-col>
                    <ion-col size="12" class="subtitle">
                        <ion-label>Seguidores</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="3" class="profileStats">
                <ion-row>
                    <ion-col size="12">
                        <ion-label>899</ion-label>
                    </ion-col>
                    <ion-col size="12" class="subtitle">
                        <ion-label>Seguidos</ion-label>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="12">
                <ion-button class="center btnSeguir" color="plogger" mode="ios">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Seguir
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-publicacion (mensajeEvent)="recibirMensaje($event)"></app-publicacion>
</ion-content>