.hiddenMap {
    visibility: hidden;
}

.tipoEvento {
    font-size: 20px;
}

.ocultar {
    visibility: hidden
}

.nameEvento {
    font-size: 30px;
}

.label-foto {
    text-align: center;
}

.selected-items {
    color: purple;
}

.chips {
    background-color: white;
}