<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="end">
            <ion-button (click)="volver()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!editar">Nuevo Evento</ion-title>
        <ion-title *ngIf="editar">{{event.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ng-template #name let-attrs="attrs">
    <ion-chip slot="center" class="tipoEvento" color="{{attrs.data.color}}">
        <ion-label>
            <ion-icon slot="start" name="{{attrs.data.icono}}"></ion-icon>
            {{ attrs.data.label }}

        </ion-label>
    </ion-chip>


</ng-template>


<ion-content padding color="petroleo">




    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate( formulario )">
        <!-- <h4 *ngIf="!editar" class="mb-20">Crear evento</h4>
        <h4 *ngIf="editar" class="mb-20">Editar evento</h4> -->
        <!-- Tipo evento -->
        <ion-card>
            <ion-card-content>
                <ion-chip>
                    <ion-label (click)="subirFotoEvento()"> AGREGAR FOTO
                        <ion-icon name="images"></ion-icon>
                    </ion-label>
                </ion-chip>
                <ion-label *ngIf="nombreImg">{{ nombreImg }}</ion-label>
            </ion-card-content>
        </ion-card>

        <ion-auto-complete [template]="name" [showResultsFirst]="false" [(model)]="selected" (itemSelected)="itemSelected($event)" [multi]="true" [dataProvider]="typeEventService" [disabled]="false" [removeButtonColor]="'dark'" [options]="{ placeholder : 'Seleccionar etiqueta' }">
        </ion-auto-complete>

        <ion-list class="mb-20" color="plogger">
            <!-- Nombre evento -->
            <ion-item *ngIf="!editar">
                <ion-input class="nameEvento" name="name" placeholder="Nombre del evento" [(ngModel)]="event.name" type="text" required></ion-input>
            </ion-item>
            <!-- Fecha -->
            <ion-item>
                <ion-icon name="time"></ion-icon>
                <ion-datetime #startDate name="startDate" [(ngModel)]="event.startDate" display-format="DD MMM YYYY HH:mm" placeholder="Fecha de inicio" cancelText="Cancelar" doneText="Ok" required>
                    Fecha
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-icon name="time" class="ocultar"></ion-icon>
                <ion-datetime name="endDate" [(ngModel)]="event.endDate" display-format="DD MMM YYYY HH:mm" placeholder="Fecha de finalización" cancelText="Cancelar" doneText="Ok" required>
                    Fecha
                </ion-datetime>
            </ion-item>
            <ion-item>
                <!-- Descripcion -->
                <ion-icon name="create"></ion-icon>
                <ion-textarea name="description" placeholder="Detalles" [(ngModel)]="event.description" type="text" required></ion-textarea>
            </ion-item>
            <!-- <ion-item>
                <ion-chip>
                    <ion-label (click)="subirFotoEvento()"> Seleccionar foto para evento
                        <ion-icon name="images"></ion-icon>
                    </ion-label>
                </ion-chip>
                <ion-label *ngIf="nombreImg">{{ nombreImg }}</ion-label>
            </ion-item> -->
            <ion-item>
                <!--  ubicacion del evento -->
                <form [formGroup]="directionFormGeo" (ngSubmit)="obtenerDireccionEvento(directionFormGeo.value)">
                    <ion-item>
                        <ion-icon name="navigate"></ion-icon>
                        <ion-input formControlName="destination" placeholder="Ubicación"></ion-input>
                    </ion-item>
                    <ion-button slot="end" type="submit" color="dark" [disabled]="!directionFormGeo.valid">Mostrar mapa
                        <ion-icon name="pin"></ion-icon>
                    </ion-button>
                </form>

                <!--  -->
            </ion-item>

            <!-- Google Maps -->
            <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
                <ion-item *ngIf="recorrido">
                    <ion-icon name="walk"></ion-icon>
                    <ion-input formControlName="source" placeholder="Recorrido desde"></ion-input>
                </ion-item>
                <ion-item *ngIf="recorrido">
                    <ion-icon name="walk" class="ocultar"></ion-icon>
                    <ion-input formControlName="destination" placeholder="Recorrido hasta"></ion-input>
                </ion-item>
                <ion-button slot="end" *ngIf="recorrido" size="small" type="submit" color="dark" [disabled]="!directionForm.valid">Mostrar mapa
                    <ion-icon name="pin"></ion-icon>
                </ion-button>
            </form>



        </ion-list>
        <ion-button color="dark" expand="full" type="submit" [disabled]="formulario.invalid">
            <ion-icon slot="start" name="create"> </ion-icon>Crear
        </ion-button>
        <br>
    </form>
    <!-- Mostramos el mapa-->
    <ion-content [ngClass]="{'hiddenMap': !showMap}">
        <div #mapElement class="map"></div>
    </ion-content>

    <!-- <div #mapElement class="map"></div> -->

</ion-content>