<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="end">
            <ion-button (click)="volver()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title *ngIf="!editar">Nuevo Evento</ion-title>
        <ion-title *ngIf="editar">{{event.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="petroleo">

    <h4 *ngIf="!editar" class="mb-20">Crear evento</h4>
    <h4 *ngIf="editar" class="mb-20">Editar evento</h4>
    <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate( formulario )">
        <ion-list class="mb-20" color="plogger">
            <ion-item *ngIf="!editar">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input name="name" [(ngModel)]="event.name" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Descripción</ion-label>
                <ion-textarea name="description" [(ngModel)]="event.description" type="text" required></ion-textarea>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de inicio</ion-label>
            </ion-item>
            <ion-item>
                <ion-datetime #startDate name="startDate" [(ngModel)]="event.startDate" display-format="DD MM YYYY HH:mm" placeholder="Seleccionar" cancelText="Cancelar" doneText="Ok" required>
                    Fecha
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Fecha de finalizacion </ion-label>
            </ion-item>
            <ion-item>
                <ion-datetime name="endDate" [(ngModel)]="event.endDate" display-format="DD MM YYYY HH:mm" placeholder="Seleccionar" cancelText="Cancelar" doneText="Ok" required>
                    Fecha
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Ubicación</ion-label>
                <ion-input name="ubication" [(ngModel)]="event.ubication" type="text" required></ion-input>
            </ion-item>
            <ion-item>
                <ion-chip>
                    <ion-label (click)="subirFotoEvento()">Seleccionar foto para evento</ion-label>
                </ion-chip>
                <ion-label *ngIf="nombreImg">{{ nombreImg }}</ion-label>
            </ion-item>
        </ion-list>
        <ion-button color="dark" expand="full" type="submit" [disabled]="formulario.invalid">
            <ion-icon slot="start" name="create"></ion-icon>Guardar
        </ion-button>
        <br>
    </form>

</ion-content>