<!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" style="z-index: 999999;">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher> -->
<div *ngIf="eventsReady" class="spinner-container">
    <ion-spinner color="success" name="bubbles"></ion-spinner>
</div>

<ion-card *ngFor="let event of eventos; let i = index;" class="evento">
    <ion-item mode="ios" class="ion-item">
        <ion-card-header (click)="goToEvent(i)">
            <ion-card-subtitle>{{ event.startDate | date: 'dd/MM/yyyy HH:mm'}}</ion-card-subtitle>

            <ion-card-title><b>{{ event.name }} </b> </ion-card-title>
            <ion-card-subtitle> {{ event.ubication }}</ion-card-subtitle>

        </ion-card-header>
        <ion-icon *ngIf="event.uid!==usuario.key" slot="end" name="more" color="dark" (click)="mostrarPopReport($event,i,event)"></ion-icon>

    </ion-item>

    <ion-img *ngIf="event.foto" [src]="event.foto"></ion-img>

    <ion-card-content>
        {{ event.description }}
    </ion-card-content>
</ion-card>