<ion-item>
    <ion-label>Provincia</ion-label>
    <ion-select ok-text="Aceptar" cancel-text="Cancelar" (ionChange)="onSelectChange($event)">
        <ion-select-option value="buenos aires">Buenos Aires</ion-select-option>
        <ion-select-option value="catamarca">Catamarca</ion-select-option>
        <ion-select-option value="chaco">Chaco</ion-select-option>
        <ion-select-option value="chubut">Chubut</ion-select-option>
        <ion-select-option value="cordoba">Córdoba</ion-select-option>
        <ion-select-option value="corrientes">Corrientes</ion-select-option>
        <ion-select-option value="entre rios">Entre Ríos</ion-select-option>
        <ion-select-option value="formosa">Formosa</ion-select-option>
        <ion-select-option value="jujuy">Jujuy</ion-select-option>
        <ion-select-option value="la pampa">La Pampa</ion-select-option>
        <ion-select-option value="la rioja">La Rioja</ion-select-option>
        <ion-select-option value="mendoza">Mendoza</ion-select-option>
        <ion-select-option value="misiones">Misiones</ion-select-option>
        <ion-select-option value="neuquen">Neuquén</ion-select-option>
        <ion-select-option value="rio negro">Río Negro</ion-select-option>
        <ion-select-option value="salta">Salta</ion-select-option>
        <ion-select-option value="san juan">San Juan</ion-select-option>
        <ion-select-option value="san luis">San Luis</ion-select-option>
        <ion-select-option value="santa cruz">Santa Cruz</ion-select-option>
        <ion-select-option value="santa fe">Santa Fe</ion-select-option>
        <ion-select-option value="santiago del estero">Santiago del Estero</ion-select-option>
        <ion-select-option value="tierra del fuego">Tierra del Fuego</ion-select-option>
        <ion-select-option value="tucuman">Tucumán</ion-select-option>
    </ion-select>
</ion-item>