<ion-header no-border>
    <ion-toolbar color="dark" mode="ios">
        <ion-title class="title">Plogger</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="plogger">
    <br>
    <ion-img src="../../assets/img/logo.png" class="logo mb-20"></ion-img>
    <ion-badge color="light" mode="ios" class="badgeText mb-20">Iniciar Sesi&oacute;n</ion-badge>
    <ion-button mode="ios" color="google" size="large" expand="full" (click)="iniciarSesionGoogle()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
    </ion-button>
    <ion-button mode="ios" color="facebook" size="large" expand="full" (click)="iniciarSesionFacebook()">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
    </ion-button>
    <ion-button mode="ios" color="light" size="large" expand="full" (click)="iniciarSesionPlogger()">
        <ion-icon mode="ios" color="plogger" slot="start" name="leaf"></ion-icon>
        Plogger
    </ion-button>
    <!-- <ion-item color="plogger">
        <ion-label style="font-weight: bold;" color="dark">Recordarme</ion-label>
        <ion-checkbox mode="ios" slot="start" color="dark" [(ngModel)]="recordarme"></ion-checkbox>
    </ion-item> -->
    <br>
    <ion-badge color="light" mode="ios" class="badgeText mb-20">No tienes cuenta?</ion-badge>
    <ion-button mode="ios" color="light" size="large" expand="full" (click)="registrarPlogger()">
        <ion-icon color="plogger" slot="start" name="log-in"></ion-icon>
        Registrarme
    </ion-button>
</ion-content>
<ion-footer>
    <ion-toolbar color="dark">
        <ion-title>Developed by Corococo</ion-title>
    </ion-toolbar>
</ion-footer>