<ion-header>
    <ion-toolbar color="petroleo">
        <ion-title>{{ nombreTipoEvento }}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ng-template #name let-attrs="attrs">
    <ion-item>
        <ion-avatar slot="start">
            <img *ngIf="attrs.data.foto" [src]="attrs.data.foto">
        </ion-avatar>
        <ion-text>
            {{attrs.data.name }}
        </ion-text>
    </ion-item>
</ng-template>

<ion-content>
    <ion-auto-complete [template]="name" [showResultsFirst]="false" [(model)]="selected" (itemSelected)="itemSelected($event)" [multi]="false" [dataProvider]="searchService" [disabled]="false" [removeButtonColor]="'dark'" [options]="{ placeholder : ' ', debounce : '1000' }">
    </ion-auto-complete>

    <app-evento #evento> </app-evento>

</ion-content>