<ion-header>
    <ion-toolbar color="dark" mode="ios">
        <ion-buttons slot="end">
            <ion-button (click)="volver()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item *ngFor="let item of usersLikes; let i = index;">
        <ion-avatar class="item-avatar">
            <img (click)="goToProfileOther(item.key)" *ngIf="item.foto" [src]="item.foto" />
        </ion-avatar>
        <ion-label>&nbsp;{{item.nombre}}&nbsp;{{item.apellido}}</ion-label>
    </ion-item>
</ion-content>