// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "../node_modules/ionic4-auto-complete/auto-complete";
.mb-20 {
    margin-bottom: 20px;
}

.map {
    position: relative;
    height: 100%;
}

.animated {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

ion-label {
    font-size: 15px;
}

ion-loading.my-loading-class {
    .loading-wrapper {
        background: transparent;
        box-shadow: none;
    }
}

ion-loading.my-loading-class {
    .sc-ion-loading-md {
        background: transparent;
        box-shadow: none;
    }
}